<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>audio.hydra.daemon</string>
	<key>CFBundleName</key>
	<string>hydrad</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>CFBundleVersion</key>
	<string>0.5.0</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Hydra captures the audio of apps you choose so it can be routed in the patch grid.</string>
</dict>
</plist>
